body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(bg.jpg);
    
}
#calculator{
    font-family: Arial,sans-serif;
    background-color: hsl(0, 0%, 5%);
    border-radius: 10px;
    max-width: 800px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 3rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 10%);
    color:white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(5, 0.5fr);
    gap:10px;
    padding: 10px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 30px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
    
}
button:active{
    background-color: hsl(0, 0%, 60%);

}
.operator{
    background-color: hsl(41, 100%, 53%);
    width: 135px;
}
.var{
    font-weight: lighter;
    font-feature-settings: "ital";
    font-style: italic;
}
.converter{
    background-color: hsl(41, 100%, 53%);
    width: 140px;
}

